	<table id="tasks-datatable" class="table table-hover" data-source="<%= viewdata_path(format: :json) %>">
	  <thead>
	    <tr>
	      <th>No</th>
	      <th>Task Title</th>
	      <th>Created on</th>
	    </tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
